.appContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 70%;
  margin: auto;
  background-color: #2c3e50;
  border-radius: 20px;
  padding: 20px;
}
.cardWithButton {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  align-items: center;
}
.returnButton {
  display: flex;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  align-items: center;
  gap: 5px;
  text-align: center;
}

.returnButton:hover {
  background-color: #0056b3;
}

.customCarousel {
  width: 100%;
}

.customCarousel .carousel-status {
  display: none;
}
